<div class="header-box">
  <i class="fa fa-angle-left back" routerLink="../"></i>
  <div class="topic">拜访详情</div>
  <span class="add-icon"></span>
</div>
<div class="normal-content-box">
    <div class="app-card">
       <div class="card-title">基础信息</div>
      <div class="card-content">
        <div class="weui-flex">
          <label class="card-label">项目名称：</label>
          <span class="weui-flex__item">首都机场T2停车楼</span>
        </div>
        <div class="weui-flex">
          <label class="card-label">客户名称：</label>
          <span class="weui-flex__item">首都机场</span>
        </div>
        <div class="weui-flex">
          <label class="card-label">计划拜访时间：</label>
          <span class="weui-flex__item">2018年4月25日</span>
        </div>
        <div class="weui-flex">
          <label class="card-label">实际拜访时间：</label>
          <span class="weui-flex__item">2018年4月25日</span>
        </div>
        <div class="weui-flex">
          <label class="card-label">合同号：</label>
          <span class="weui-flex__item">393982827</span>
        </div>
        <div class="weui-flex">
          <label class="card-label">联系人姓名：</label>
          <span class="weui-flex__item">张三</span>
        </div>
        <div class="weui-flex">
          <label class="card-label">联系人电话：</label>
          <span class="weui-flex__item">18876638288</span>
        </div>
      </div>
    </div>
  <div class="app-card">
    <div class="card-title">
      <div class="weui-flex">
        <label class="weui-flex__item">拜访反馈&待办事项：</label>
        <span>添加</span>
      </div>
    </div>
    <div class="card-content">
      <div class="weui-flex">
        <label class="card-label">项目名称：</label>
        <span class="weui-flex__item">首都机场T2停车楼</span>
      </div>
      <div class="weui-flex">
        <label class="card-label">客户名称：</label>
        <span class="weui-flex__item">首都机场</span>
      </div>
      <div class="weui-flex">
        <label class="card-label">计划拜访时间：</label>
        <span class="weui-flex__item">2018年4月25日</span>
      </div>
      <div class="weui-flex">
        <label class="card-label">实际拜访时间：</label>
        <span class="weui-flex__item">2018年4月25日</span>
      </div>
    </div>
  </div>
  <div class="app-card">
    <div class="card-title">
      预测风险等级
    </div>
    <div class="card-content">
      <div class="weui-flex">
        <div class="weui-flex__item text-center">
          <label class="card-label">
            <i class="fa" [ngClass]="{'fa-circle-o': params.riskLevel !== 1 , 'fa-dot-circle-o': params.riskLevel === 1}"></i>
            <input type="radio" name="riskLevel" [(ngModel)]="params.riskLevel" [value]="1" hidden>
            <span class="ml8">高</span>
          </label>
        </div>
        <div class="weui-flex__item text-center">
          <label class="card-label">
            <i class="fa"  [ngClass]="{'fa-circle-o': params.riskLevel !== 2 , 'fa-dot-circle-o': params.riskLevel === 2}"></i>
            <input type="radio"  name="riskLevel" [(ngModel)]="params.riskLevel" [value]="2" hidden>
            <span class="ml8">中</span>
          </label>
        </div>
        <div class="weui-flex__item text-center">
          <label class="card-label">
            <i class="fa"  [ngClass]="{'fa-circle-o': params.riskLevel !== 3 , 'fa-dot-circle-o': params.riskLevel === 3}"></i>
            <input type="radio"  name="riskLevel" [(ngModel)]="params.riskLevel" [value]="3" hidden>
            <span class="ml8">低</span>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="app-card">
    <div class="card-title">
      项目信息
    </div>
    <div class="card-content">
      <div class="weui-flex">
        <label class="card-label">项目阶段：</label>
        <div class="weui-flex__item">
          <input type="text" class="inline-input" placeholder="请选择">
        </div>
      </div>
      <div class="weui-flex">
        <label class="card-label">项目地址：</label>
        <div class="weui-flex__item">
          <input type="text" class="inline-input" placeholder="请输入">
        </div>
      </div>
      <div class="weui-flex">
        <label class="card-label">现保养单位：</label>
        <div class="weui-flex__item">
          <input type="text" class="inline-input" placeholder="请输入">
        </div>
      </div>
      <div class="weui-flex">
        <label class="card-label">现保养单位：</label>
        <div class="weui-flex__item">
          <input type="text" class="inline-input" placeholder="请输入">
        </div>
      </div>
      <div class="weui-flex">
        <label class="card-label">现合同到期时间：</label>
        <div class="weui-flex__item">
          <input type="text" class="inline-input" placeholder="请输入">
        </div>
      </div>
      <div class="weui-flex">
        <label class="card-label">介绍迅达维保：</label>
        <div class="weui-flex__item">
          <label class="card-label">
            <i class="fa fa-check-square-o" [ngClass]="{'fa-square-o': !params.isIntroduce , 'fa-check-square-o': params.isIntroduce}"></i>
            <input type="checkbox" placeholder="请输入" name="isIntroduce" [(ngModel)]="params.isIntroduce" hidden>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group">
      <button type="button" class="app-btn app-btn-primary">提交</button>
      <button type="button" class="app-btn app-btn-default">取消</button>
  </div>
</div>
