<div class="w-1263 detail-box baseinfo-card">
  <div class="listTitle"><span class="tip"></span><span class="text">关注项目</span></div>
  <div class="reportTable">
    <table class="reportListTable" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>城市</th>
          <th>项目</th>
          <th>项目阶段</th>
          <th>审图数量 <a src="#" class="fa" (click)="changeSortWay(1, 'drawingNum')" [ngClass]="{'fa-sort-amount-asc': focusProjectSort.drawingNum, 'fa-sort-amount-desc': !focusProjectSort.drawingNum}"></a></th>
          <th>会议数量 <a src="#" class="fa fa-sort-amount-asc" (click)="changeSortWay(1, 'meetingNum')" [ngClass]="{'fa-sort-amount-asc': focusProjectSort.meetingNum, 'fa-sort-amount-desc': !focusProjectSort.meetingNum}"></a></th>
          <th>待跟进问题数量 <a src="#" class="fa fa-sort-amount-asc" (click)="changeSortWay(1, 'waitToFollow')" [ngClass]="{'fa-sort-amount-asc': focusProjectSort.waitToFollow, 'fa-sort-amount-desc': !focusProjectSort.waitToFollow}"></a></th>
          <th>活跃度 <a src="#" class="fa fa-sort-amount-asc" (click)="changeSortWay(1, 'activity')" [ngClass]="{'fa-sort-amount-asc': focusProjectSort.activity, 'fa-sort-amount-desc': !focusProjectSort.activity}"></a></th>
          <th>本轮巡检得分 <a src="#" class="fa fa-sort-amount-asc" (click)="changeSortWay(1, 'checkPoints')" [ngClass]="{'fa-sort-amount-asc': focusProjectSort.checkPoints, 'fa-sort-amount-desc': !focusProjectSort.checkPoints}"></a></th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="goDetail()" *ngFor="let i of testArr">
          <td>深圳</td>
          <td>城市广场</td>
          <td><span class="statusGreen fa fa-circle"></span>方案<span class="greyLine"></span> <span class="statusOrange fa fa-circle"></span>施工图 <span class="greyLine"></span><span class="statusGery fa fa-circle"></span>二次设计 <span class="greyLine"></span><span class="statusGery fa fa-circle"></span>施工</td>
          <td>80</td>
          <td>55</td>
          <td>23</td>
          <td>355</td>
          <td>95</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="w-1263 detail-box baseinfo-card mt20">
  <div class="listTitle"><span class="tip"></span><span class="text">所有项目</span></div>
  <div class="reportTable">
    <table class="reportListTable" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>城市</th>
          <th>项目</th>
          <th>项目阶段</th>
          <th>审图数量 <a src="#" class="fa" (click)="changeSortWay(2, 'drawingNum')" [ngClass]="{'fa-sort-amount-asc': allProjectSort.drawingNum, 'fa-sort-amount-desc': !allProjectSort.drawingNum}"></a></th>
          <th>会议数量 <a src="#" class="fa" (click)="changeSortWay(2, 'meetingNum')" [ngClass]="{'fa-sort-amount-asc': allProjectSort.meetingNum, 'fa-sort-amount-desc': !allProjectSort.meetingNum}"></a></th>
          <th>待跟进问题数量 <a src="#" class="fa" (click)="changeSortWay(2, 'waitToFollow')" [ngClass]="{'fa-sort-amount-asc': allProjectSort.waitToFollow, 'fa-sort-amount-desc': !allProjectSort.waitToFollow}"></a></th>
          <th>活跃度 <a src="#" class="fa" (click)="changeSortWay(2, 'activity')" [ngClass]="{'fa-sort-amount-asc': allProjectSort.activity, 'fa-sort-amount-desc': !allProjectSort.activity}"></a></th>
          <th>本轮巡检得分 <a src="#" class="fa" (click)="changeSortWay(2, 'checkPoints')" [ngClass]="{'fa-sort-amount-asc': allProjectSort.checkPoints, 'fa-sort-amount-desc': !allProjectSort.checkPoints}"></a></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of testArr" (click)="goDetail()">
          <td>深圳</td>
          <td>城市广场</td>
          <td><span class="statusGreen fa fa-circle"></span>方案<span class="greyLine"></span> <span class="statusOrange fa fa-circle"></span>施工图 <span class="greyLine"></span><span class="statusGery fa fa-circle"></span>二次设计 <span class="greyLine"></span><span class="statusGery fa fa-circle"></span>施工</td>
          <td>80</td>
          <td>55</td>
          <td>23</td>
          <td>355</td>
          <td>95</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
