<div class="w-1263 detail-box">
  <ul class="tab-list">
    <li class="tab-item active">详情</li>
  </ul>
  <div class="tab-content pd20">
    <div class="text-center">
      <h3 class="doc-title">关于项目月度考核管理办法暂行规定</h3>
      <div class="mt20">
        <span>集团</span>  <span class="ml-20">2018-03-19  14:56</span>
      </div>
    </div>
    <div class="mt40">
      <img src="../../../../../assets/images/content-bg.png" alt="">
    </div>
    <div class="mt40">
      <p class="file-name"><b>文件 :</b></p>
      <div class="content-bottom-desc clearfix">
        <span class="img-houzui"></span>
        <span>关于项目月度考核标准</span>
        <span ><a href="./images/content-bg.png" download="关于项目月度考核标准"  class="download-a"></a></span>
      </div>
    </div>
  </div>
</div>
