<div class="tab-content">
  <div *ngFor="let memberList of memberListArr; let i = index;">
    <div class="member-type">
      <span class="f-l">{{memberList.designName}}</span>
      <span class="f-r fa fa-chevron-circle-up"
            [ngClass]="{'fa-chevron-circle-up': !memberList.isFold, 'fa-chevron-circle-down': memberList.isFold}"
            (click)="toggleList(memberList)"></span>
    </div>
    <div class="search-group" *ngIf="!memberList.isFold">
      <div>
        <button type="button" class="zjy-btn-oranger zjy-btn" (click)="addMember(i)">添加成员</button>
      </div>
      <div class="mt10">
        <table class="reportListTable fix-table" cellspacing="0" cellpadding="0">
          <tr>
            <th>专业</th>
            <th>姓名</th>
            <th>联系方式</th>
            <th>操作</th>
          </tr>
          <tr *ngFor="let member of memberList.list; let j = index;">
            <td>{{member.major.name}}</td>
            <td>{{member.name}}</td>
            <td>{{member.cellphone}}</td>
            <td>
              <div>
                <a href="javascript:;" (click)="edit(i, j, member)">编辑</a>
                <a href="javascript:;" class="ml20" (click)="delete(i, j)">删除</a>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="modal jzy-modal fade" bsModal #addNewMember="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">添加成员</h4>
      </div>
      <div class="modal-body">
        <div class="pd20">
          <div>
            <label class="add-label">专业：</label>
            <div class="select-box">
              <i class="solid-arrow solid-arrow-down"></i>
              <select name="majorInput" class="search-input w-240" [(ngModel)]="modalMember.major" [compareWith]="compareFun">
                <option [ngValue]="major" *ngFor="let major of majorList">{{major.name}}</option>
              </select>
            </div>
          </div>
          <div class="mt20">
            <label class="add-label">姓名：</label>
            <input class="search-input w-240" type="text" name="memberName" [(ngModel)]="modalMember.name">
          </div>
          <div class="mt20">
            <label class="add-label">联系方式：</label>
            <input class="search-input w-240" type="text" name="cellphone" [(ngModel)]="modalMember.cellphone">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="zjy-btn zjy-btn-oranger" (click)="sureAdd()" [disabled]="!(modalMember.major.id !== '0' && modalMember.name && modalMember.cellphone)" >确认</button>
          <button type="button" class="zjy-btn ml20" (click)="addNewMember.hide()">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
