/deep/ swiper > .swiper.s-wrapper .swiper-wrapper .swiper-slide.content-container{
  height: auto !important;
  max-height: none;
  padding-top: 50px;
}
.ml8{
  margin-left: 8px;
}
.app-refresh{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  color: #aaa;
  top: 0;
}
.app-loadMore{
  text-align: center;
}
