@charset "utf-8";
/* logn.html CSS Document */
html,body{
  font-family:"Microsoft YaHei","Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  padding: 0;
  margin: 0;
  position:relative;
}
img {
  vertical-align: middle;

  -ms-interpolation-mode: bicubic;
  border: 0;
}

.container_bg{
  width:100%;
  height:100%;
  background:url(../../assets/images/login_bg.png) no-repeat bottom center;
  background-size: 100% auto;
  position: absolute;
  left:0;
  top:0;
  z-index: -1;
}

.container{
  width: 470px;
  height: 400px;
  margin: 0 auto;
  margin-top:4%;
}

.login_logo{
  width:100%;
  margin-bottom:44px;
  text-align:center;
}

ul.loginInput {
  list-style: none;
  width: 400px;
  padding: 0;
  margin: 0 auto;
}

.inputContainer {
  position: relative;
  margin-bottom: 16px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #DCDFE6;
  background-color:#fff;
}

.inputContainer:hover {
  border-color: #C0C4CC;
}


.inputContainer.focus {
  border-color: #ee7700;
}

.inputContainer.focus label {
  display: none;
}

.inputContainer input {
  position: relative;
  left: 10px;
  width: 380px;
  height: 50px;
  line-height: 42px;
  padding: 0;
  margin: 0;
  border: 0 none;
  background: none;
  outline: none;
  font-size:16px;
}

.inputContainer .tipsPic {
  position: absolute;
  top: 13px;
  right: 15px;
  display: none;
}

.inputContainer.success {
  border-color: #67C23A;
}

.inputContainer.error {
  border-color: #FA5555;
}

.inputContainer.success .successTip,
.inputContainer.error .errorTip {
  display: inline;
}

.inputContainer label {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  top: 15px;
  left: 10px;
  color: #C0C4CC;
}

.forgetPassword {
  line-height: 16px;
  font-size: 14px;
  margin-bottom: 20px;
}

.forgetPassword input {
  display: none;
}


.forgetPassword label.checked {
  background: url("../../assets/icons/checkboxYes.png") no-repeat 0 1px;
}

.forgetPassword label:hover {
  color: #000;
}

.forgetPassword a {
  float: right;
  text-decoration: none;
  color: #ee7700;
}

.forgetPassword a:hover {
  text-decoration: underline;
}

.btnContainer a {
  display: inline-block;
  width: 180px;
  text-align: center;
  height: 42px;
  line-height: 42px;
  text-decoration: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #ee7700;
  font-size: 16px;
}

.btnContainer a:hover {
  border: 1px solid #dd5807;
}

a.loginBtn {
  background: #ee7700;
  color: #fff;
  float: right;
}

a.loginBtn:hover {
  background: #dd5807;
}

a.registerBtn {
  background-color:#fff;
  color: #ee7700;
  float: left;
}

a.registerBtn:hover {
  color: #dd5807;
}


.clear {
  display:none;
  position: absolute;
  width: 16px;
  height: 16px;
  margin: 6px 0 0 -20px;
  background: url(../../assets/icons/clear.png);
  top: 13px;
  right: 15px;
}

.loginInput::-ms-clear { display: none; }
.loginInput:valid + .clear { display: inline; }


/*注册弹框*/
.topInputContainer{
  padding-bottom:20px;
  border-bottom:1px solid #f1f1f1;

}

.topInputContainer .topInputItem {
  display: inline-block;
  width: 49.5%;
  margin-top: 25px;
}

.topInputContainer .topInputItem label {
  display: inline-block;
  width: 72px;
  height: 32px;
  line-height: 32px;
  text-align: right;
  color: #8a9096;
  margin-right: 6px;
}
.typeInputItem{
  margin-bottom: 15px;
}

.typeInputItemTitle {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: right;
  color: #8a9096;
  margin-right:10px;
  width: 216px;
}

.typeInputItem input {
  height: 30px;
  line-height: 30px;
  border: 1px solid #dfe3e9;
  width: 400px;
}

.topInputItem input {
  height: 30px;
  line-height: 30px;
  border: 1px solid #dfe3e9;
}

.topInputContainer .topInputItem input {
  width: 300px;
}


.select-parent{
  overflow: hidden;
  border: 1px solid #dfe3e9;
}

.select-parent select{
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  background:transparent;
  border:none;
  height:100%;
}

.topInputItem .select-parent{
  background-image: url('../../assets/icons/arrow.png');
  background-position: 280px center;
  background-repeat: no-repeat;
  /* the width and the height of your image */
  width: 300px;
  height: 32px;
  float: right;
  margin-right: 16px;
  line-height: 30px;
}

.topInputItem .select-parent select{
  width: 300px;
}

table.menberListTable tr td .select-parent{
  background-image: url('../../assets/icons/arrow.png');
  background-position: 155px center;
  background-repeat: no-repeat;
  /* the width and the height of your image */
  width: 176px;
  height: 29px;
  margin-left:5px;
  line-height: 30px;
  background-color: #fff;
}

table.menberListTable tr td .select-parent select{
  width: 176px;
}

/*table.menberListTable tr td .usable{*/
  /*background-color:#fff;*/
/*}*/

table.menberListTable tr td .disabled{
  background-color:#cccccc;
}


.addMemberContainer {
  margin-top: 20px;
}

.addMemberContainer .topInputItem {
  display: inline-block;
  width: auto;
  margin-top: 25px;
}

.addMemberContainer label {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  text-align: right;
  color: #8a9096;
  margin-left: 20px;
  margin-right: 6px;
}

.addBtnContainer {
  text-align: right;
  margin-bottom: 10px;
}

.addBtnContainer a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  background: #f49637;
  color: #fff;
  /*margin-right: 23px;*/
  text-decoration: none;
  border-radius: 5px;
}

.addBtnContainer a:hover {
  background: #dd5807;
}

.tableContainer{
  margin-top:20px;
}

.tableTitle {
  font-size:15px;
  color: #f49637;
  font-weight: bolder;
  margin-bottom: 10px;
  /*float:left;*/
}

table.menberListTable {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  color: #363c47;
}

table.menberListTable input{
  height:25px;
  border:1px solid #CBC8C8;
}

table.menberListTable tr:nth-child(2n) {
  background: #f8fafc;
}

table.menberListTable tr th {
  font-weight: bolder;
  height: 40px;
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  text-align: center;
}

table.menberListTable td {
  height: 34px;
  border: 1px solid #e8e8e8;
}

table.menberListTable a.edit {
  margin-right: 8px;
  text-decoration: none;
  color: #089fff;
}

table.menberListTable a.save {
  margin-right: 8px;
  text-decoration: none;
  color: #29ad48;
}

table.menberListTable a.delete {
  text-decoration: none;
  color: #ff5252;
}

table.menberListTable a.save:hover,
table.menberListTable a.edit:hover,
table.menberListTable a.delete:hover {
  text-decoration: underline;
}

.sumitContiner {
  text-align: center;
  padding: 10px 0;
}

.sumitContiner a {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  margin: 0 10px;
}

a.sumitBtn {
  background: #f49637;
}

a.sumitBtn:hover {

  background: #dd5807;
}

a.cancelBtn {
  background: #b5b5b5;
}

a.cancelBtn:hover {
  background: #969696;
}
