.internal-tab{
  display: inline-block;
  margin: 0 auto;
  overflow: hidden;
}
.internal-tab-item{
  float: left;
  min-width: 136px;
  border: 1px solid #D6D3CE;
  padding: 3px;
  color: #9b9b9b;
}
.internal-tab-item:first-child{
  -webkit-border-radius: 20px 0 0 20px;
  -moz-border-radius: 20px 0 0 20px;
  border-radius: 20px 0 0 20px;
}
.internal-tab-item:last-child{
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  border-radius: 0 20px 20px 0;
}
.internal-tab-item.active{
  background: #FE8F2D;
  color: #fff;
  border: 1px solid #FE8F2D;
}
.internal-tab-box{
  text-align: center;
  margin-top: 26px;
}
td img{
  max-width: 21px;
  height: 27px;
  vertical-align: middle;
}
