<div class="tab-content">
  <div class="internal-tab-box">
    <ul class="internal-tab">
      <li class="internal-tab-item" (click)="changeTab(1)" [ngClass]="{'active': interTabIndex === 1}">新问题（100）</li>
      <li class="internal-tab-item" (click)="changeTab(2)" [ngClass]="{'active': interTabIndex === 2}">整改（10）</li>
      <li class="internal-tab-item" (click)="changeTab(3)" [ngClass]="{'active': interTabIndex === 3}">计分（10）</li>
      <li class="internal-tab-item" (click)="changeTab(4)" [ngClass]="{'active': interTabIndex === 4}">归档（1001）</li>
    </ul>
  </div>
  <div class="search-group">
    <div class="f-l">
      <label>巡检分类 ：</label>
      <div class="select-box">
        <i class="solid-arrow solid-arrow-down"></i>
        <select name="category" class="search-input">
          <option value="">深圳-DZ001</option>
        </select>
      </div>
    </div>
    <div class="f-l ml20">
      <label>巡检分类 ：</label>
      <div class="select-box">
        <i class="solid-arrow solid-arrow-down"></i>
        <select name="department" class="search-input">
          <option value="">全部</option>
        </select>
      </div>
    </div>
    <div class="f-l ml20">
      <button type="button" class="zjy-btn zjy-btn-oranger">筛选</button>
    </div>
    <div class="f-r">
      <button type="button" class="zjy-btn zjy-btn-oranger">问题合并</button>
    </div>
  </div>
  <div class="search-group">
    <table class="reportListTable fix-table" cellspacing="0" cellpadding="0">
      <colgroup>
        <col width="8%"/>
        <col width="12%"/>
        <col width="8%"/>
        <col width="8%"/>
        <col width="8%"/>
        <col width="18%"/>
        <col width="38%"/>
      </colgroup>
      <tr>
        <th>图片编号</th>
        <th>问题类别</th>
        <th>巡查季度</th>
        <th>图纸做法</th>
        <th>现场做法</th>
        <th>问题描述</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let i of tableArr">
        <td>1</td>
        <td>设计缺陷</td>
        <td>一季度</td>
        <td><img src="../../../../../assets/images/login-logo.png" alt=""></td>
        <td><img src="../../../../../assets/images/logo.png" alt=""></td>
        <td>餐客厅进深7米多餐客厅进深7米多</td>
        <td>
          <div>
            <label class="f-l">是否整改：</label>
            <div class="f-l checkbox-box" [ngClass]="{'active': i.modified}">
              <span class="zjy-checkbox"></span>
              <input type="checkbox" name="modify" class="checkbox-input" [(ngModel)]="i.modified">
            </div>
            <label class="f-l ml8">整改人：</label>
            <input type="text" name="modifyUser" class="table-input f-l">
            <label class="f-l ml8">是否扣分：</label>
            <div class="f-l checkbox-box" [ngClass]="{'active': i.isReduced}">
              <span class="zjy-checkbox"></span>
              <input type="checkbox" name="isReduce" [(ngModel)]="i.isReduced">
            </div>
            <a class="f-l ml20" href="javascript: void(0);">确认</a>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
