.nav-container{
  position: fixed;
  top:0;
  left:0;
  right:0;
  background: #fff;
  height: 70px;
  box-shadow: 0 0 8px rgba(153,153,153,0.12);
  z-index: 1000;
}
.nav{
  max-width: 1263px;
  margin:0 auto;
  height:70px;
  background-color: #fff;

  /*padding:0 20px 0 83px;*/
}

.logo{
  width: 100px;
  height: 48px;
  margin: 11px 0px;
  line-height: 0;
  float: left;
}
.logo img{
  width: 100%;
  height:100%;
}
.nav-desc{
  float: left;
  width: 407px;
  border-left: 1px solid #d0d3d5;
  margin:17px 0 16px 17px;
  line-height: 36px;
  font-size: 20px;
  color: #363c47;
  padding-left: 15px;
}
.nav-item{
  float: left;
}
.nav-item a{
  display: inline-block;
  font-size: 15px;
  line-height: 1;
  color: #363c47;
  padding-top: 28px;
  padding-bottom: 24px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 3px solid #fff;
}
.nav-item a.active{
  font-weight: bold;
  color: #e70;
  border-bottom: 3px solid #e70;
}
.nav-tx{
  float: left;
  width: 40px;
  height: 40px;
  line-height: 0;
  border-radius: 100%;
}
.nav-tx img{
  width: 100%;
  height: 100%;
}
.pd-15{
  padding: 15px 0;
}
.nav-like{
  float: left;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  margin: 12px 0;
  padding: 0 10px;
  border-right: 1px solid #d0d3d5;
}
.nav-exit{
  float: left;
  display: inline-block;
  font-size: 13px;
  line-height: 16px;
  margin: 12px 0;
  cursor: pointer;
}
.nav-exit-icon{
  display: inline-block;
  margin: 3px 6px 0px 12px;
  width: 12px ;
  height: 13px;
  background: url('../../../assets/images/exit.png') no-repeat center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
