<div class="equal-alt-box bg-fff">
  <div class="tree-menu-box mr-20">
    <h4 class="tree-title">城市项目结构</h4>
    <ul>
      <li class="first-level-box" *ngFor="let cityProject of cityProjectList">
        <div class="first-level-li" (click)="chooseCity(cityProject.areaCode)">
          <span class="first-menu">{{cityProject.cityName}}</span>
          <i class="solid-arrow" [ngClass]="{'solid-arrow-top': cityId === cityProject.areaCode, 'solid-arrow-down': cityId !== cityProject.areaCode}"></i>
        </div>
        <ul *ngIf="cityId === cityProject.areaCode">
          <li class="second-level-li" [ngClass]="{'active': projectId === project.projectId}" *ngFor="let project of cityProject.projectList" (click)="chooseProject(project.projectId)"><a href="javascript: void(0);">{{project.projectName}}</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
