<div class="tab-content">
  <div class="search-group">
    <div class="f-l">
      <label for="meetingTopic">会议议题 ：</label>
      <input type="text" id="meetingTopic" class="search-input" name="topic" placeholder="支持模糊查询">
    </div>
    <div class="f-l ml40">
      <label>会议时间 ：</label>
      <input type="text" name="timeStart" class="search-input">
      <span class="greyLine"></span>
      <input type="text" name="timeEnd" class="search-input">
    </div>
  </div>
  <div class="search-group">
    <div class="f-l">
      <label>发起部门 ：</label>
      <div class="select-box">
        <select name="department" class="search-input">
          <option value="">全部</option>
        </select>
        <i class="solid-arrow solid-arrow-down"></i>
      </div>
    </div>
    <div class="f-r">
      <button type="button" class="zjy-btn zjy-btn-oranger">筛选</button>
    </div>
  </div>
  <div class="search-group">
    <table class="reportListTable" cellspacing="0" cellpadding="0">
      <tr>
        <th>编号</th>
        <th>议题</th>
        <th>时间</th>
        <th>地点</th>
        <th>发起部门</th>
        <th>发起人</th>
        <th>状态</th>
      </tr>
      <tr>
        <td>1</td>
        <td>关于XX会议</td>
        <td>2018-02-12</td>
        <td>会议室1</td>
        <td>设计部</td>
        <td>万凯</td>
        <td>已完成</td>
      </tr>
      <tr>
        <td>2</td>
        <td>关于XX会议</td>
        <td>2018-02-12</td>
        <td>会议室1</td>
        <td>设计部</td>
        <td>万凯</td>
        <td>已完成</td>
      </tr>
      <tr>
        <td>3</td>
        <td>关于XX会议</td>
        <td>2018-02-12</td>
        <td>会议室1</td>
        <td>设计部</td>
        <td>万凯</td>
        <td>已完成</td>
      </tr>
      <tr>
        <td>4</td>
        <td>关于XX会议</td>
        <td>2018-02-12</td>
        <td>会议室1</td>
        <td>设计部</td>
        <td>万凯</td>
        <td>已完成</td>
      </tr>
      <tr>
        <td>5</td>
        <td>关于XX会议</td>
        <td>2018-02-12</td>
        <td>会议室1</td>
        <td>设计部</td>
        <td>万凯</td>
        <td>已完成</td>
      </tr>
      <tr>
        <td>6</td>
        <td>关于XX会议</td>
        <td>2018-02-12</td>
        <td>会议室1</td>
        <td>设计部</td>
        <td>万凯</td>
        <td>已完成</td>
      </tr>
    </table>
  </div>
</div>
