<div class="tab-content">
  <div class="search-group">
    <div class="f-l">
      <label>文件来源 ：</label>
      <div class="select-box">
        <i class="solid-arrow solid-arrow-down"></i>
        <select name="category" class="search-input">
          <option value="">投资方A</option>
          <option value="">部门A</option>
          <option value="">部门B</option>
          <option value="">部门C</option>
        </select>
      </div>
    </div>
    <div class="f-l ml20">
      <label>文件类型 ：</label>
      <div class="select-box">
        <i class="solid-arrow solid-arrow-down"></i>
        <select name="department" class="search-input">
          <option value="">确认文件</option>
          <option value="">输入文件</option>
        </select>
      </div>
    </div>
    <div class="f-r ml20">
      <button type="button" class="zjy-btn zjy-btn-oranger">筛选</button>
    </div>
  </div>
  <div class="search-group">
    <table class="reportListTable" cellspacing="0" cellpadding="0" border="0">
      <tr>
        <th>文件名</th>
        <th>上传人</th>
        <th>上传时间</th>
        <th>操作</th>
      </tr>
      <tr>
        <td>文件A</td>
        <td>张三</td>
        <td>2018-01-09</td>
        <td>
          <div>
            <a href="javascript:;">浏览</a>
            <a href="javascript:;" class="ml20">下载</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>文件B</td>
        <td>张三</td>
        <td>2018-01-09</td>
        <td>
          <div>
            <a href="javascript:;">浏览</a>
            <a href="javascript:;" class="ml20">下载</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>文件C</td>
        <td>张三</td>
        <td>2018-01-09</td>
        <td>
          <div>
            <a href="javascript:;">浏览</a>
            <a href="javascript:;" class="ml20">下载</a>
          </div>
        </td>
      </tr>
    </table>
    <div class="text-right">
      <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"></pagination>
    </div>
  </div>
</div>
