/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;outline: none;}
body {
	font: 14px/1.6  Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
    color: #333;}

* {
  box-sizing: border-box;
  outline: none;
}
/*.clearfix:after, .clearfix:before {*/
  /*content: "";*/
  /*display: table;*/
  /*clear: both;*/
  /*height: 0;*/
/*}*/
/*.clearfix {*/
  /*zoom: 1;*/
/*}*/
i {
  font-style: normal;
}
.f-l {
  float: left;
}
.f-r {
  float: right;
}
.w-1263{
	width: 1263px;
	min-width: 1263px;
  margin: 0 auto;
  margin-top: 90px;
}

a,
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
    outline: none;
    star: expression(this.onFocus=this.blur());
}
label{
  font-weight: normal;
  margin-bottom: 0;
}
