<div class="current-location">
  <span>文档中心</span> &gt; <span>现行制度</span> &gt; <span>模块一详情</span>
</div>
<div class="hidden-box">
  <div class="f-l">
    <input type="text" name="searchName"  class="search-input" placeholder="请输入查询条件">
  </div>
  <div class="f-l ml20">
    <button type="button" class="zjy-btn zjy-btn-oranger">查询</button>
  </div>
  <div class="f-r">
    <button type="button" class="zjy-btn zjy-btn-oranger" (click)="uploadModal.show()">上传文件</button>
    <button type="button" class="zjy-btn zjy-btn-oranger ml8">移动</button>
    <button type="button" class="zjy-btn zjy-btn-oranger ml8" (click)="delete()">删除</button>
  </div>
</div>
<div class="mt20">
  <table class="reportListTable" cellspacing="0" cellpadding="0">
    <thead>
    <tr>
      <th></th>
      <th>名称</th>
      <th>创建人</th>
      <th>创建时间</th>
      <th>引用次数</th>
      <th>查看次数</th>
      <th>查看人数</th>
      <th>下载次数</th>
      <th>下载人数</th>
    </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of testArr">
        <td><input type="radio" name="chooseDoc" (click)="selectedDoc = i"></td>
        <td (click)="viewDetail(i)">关于项目月度考核标准</td>
        <td>张三（分公司）</td>
        <td>2018-03-19 11:45</td>
        <td>55</td>
        <td>23</td>
        <td>355</td>
        <td>95</td>
        <td>95</td>
      </tr>
    </tbody>
  </table>
  <div class="text-right">
    <pagination [totalItems]="totalItems" [(ngModel)]="currentPage"></pagination>
  </div>
</div>

<!--上传文件-->
<div class="modal jzy-modal fade" bsModal #uploadModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">上传文件</h4>
      </div>
      <div class="modal-body">
        <div class="pd20">
          <div class="mt20">
            <div><label>选择您要上传的文件：</label></div>
            <div class="mt10 clearfix">
              <input class="f-l search-input w-240" type="text" name="moduleNameInput" [(ngModel)]="fileNameStr">
              <div class="f-r file-btn-box">
                <input type="file" class="file-input">
                <button type="button" class="zjy-btn zjy-btn-oranger">添加</button>
              </div>
            </div>
          </div>
          <div class="mt20">
            <div><label>标题：</label></div>
            <div class="mt10 clearfix">
              <input class="width-100 search-input" type="text" name="moduleNameInput" [(ngModel)]="fileTitle">
            </div>
          </div>
          <div class="mt20">
            <div><label>标题：</label></div>
            <div class="mt10 clearfix">
              <textarea class="width-100 jzy-textarea" type="text" name="moduleNameInput" [(ngModel)]="content"></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="text-center">
          <button type="button" class="zjy-btn zjy-btn-oranger" (click)="upload()" >确认</button>
          <button type="button" class="zjy-btn ml20" (click)="uploadModal.hide()">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
